<div class="row g-4 justify-content-between">
  <div class="col-7 offset-1">
    <div class="row">
      <div class="col">
        <div class="card border border-0">
          <div class="row g-0">
            <div class="col-4">
              <img src="{{tutor.User.avatar}}" class="card-img-top" alt="...">
            </div>
            <div class="col-6 offset-2">
              <div class="card-body">
                <h5 class="card-title fs-1 my-3">{{tutor.User.name}}</h5>
                {{#if tutor.User.country}}
                <p class="card-text fw-bold my-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-geo-alt text-info" viewBox="0 0 16 16">
                    <path
                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                  </svg>
                  {{tutor.User.country}}
                </p>
                {{/if}}
                <p class="card-text my-3 fw-bold">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                  </svg>
                  {{tutor.User.score}}{{tutor.User.email}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1">
      <div class="col pt-5">
        <h5 class="my-3 fs-3 fw-bold">Introduction</h5>
        <p>{{tutor.introduction}}</p>
        <h5 class="my-3 fs-3 fw-bold">Teaching Style</h5>
        <p>{{tutor.teachingStyle}}</p>
      </div>
      <div class="col">
        <h5 class="my-3 fs-3 fw-bold">Lesson History</h5>
        {{#each filterCourses}}
        <div class="fs5"><span class="badge bg-warning me-2">{{this.score}}</span>{{this.comment}}</div>
        {{/each}}
      </div>

    </div>
  </div>
  <div class="col-4">
    <div id="service-availability" data-tutor-service-availability="{{tutor.serviceAvailability}}"></div>
    <form class="py-3 course-form" action="/tutors/{{tutor.id}}/courses" method="POST">
      <h1 class="h3 mb-3 fw-normal">預約上課</h1>
      <div class="form-row mb-3">
        <select class="form-select" id="date-select" aria-label="請選擇上課時間" name="startTime">
          <option value="" selected>請選擇上課時間</option>
          {{#each courseOptions}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">送出預約</button>
    </form>
  </div>
</div>

<script>
  const form = document.querySelector('.course-form')
  const url = form.action
  const method = form.method
  const submit = form.querySelector('button[type=submit]')
  submit.addEventListener('click', async (event) => {
    event.preventDefault()
    try {
      const params = { startTime: form.elements.startTime.value }
      const { data: { data }, status } = await axios({
        url,
        method,
        data: params
      })
      const html = `
        <ul class="list-group">
          <li class="list-group-item">
            <div class="fs-3 fw-bold mb-2">
              Time
            </div>
            <p>${data.startTime}</p>
          </li>
          <li class="list-group-item">
            <div class="fs-3 fw-bold mb-2">
              Teacher
            </div>
            <p>${data.tutorName}</p>
          </li>
          <li class="list-group-item">
            <div class="fs-3 fw-bold mb-2">
              Video Meeting Link
            </div>
            <p>${data.link}</p>
          </li>
        </ul>
      `
      Swal.fire({
        title: '預約成功!',
        icon: 'success',
        confirmButtonText: 'OK',
        html,
      })
    } catch (error) {
      Swal.fire({
        title: '預約失敗!',
        text: error.message,
        icon: 'error',
        confirmButtonText: 'Close'
      })
    }
  })
</script>